<div class="col-10 offset-1 about">
  <h1> About WoW Lessons</h1>

  <p>
    WoW Lessons was built by <a target="_blank" href="https://euruswagner.netlify.com">Eurus Wagner</a>. A blossoming web developer that has an intense desire to teach people the important lessons in World of Warcraft.
  </p>
  <br />
  <p>
    He will teach the masses how to play WoW correctly. 
  </p>
  <p>
    If you want to learn how to code - start <a target="_blank" href="https://online.bootcampspot.com"> here</a>.
  </p>

  <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'me.jpg', class: 'img-fluid me' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Eurus Wagner</h2>
      <br />
      <p>
        Eurus Wagner is a student at the UCF coding boot camp. Before this he graduated from the University of Florida and ran the day to day operations of a farm in Kansas.
      </p>
    </div>
  </div>

  <br class="clear" />
  <br />
  <br />
  <br />
  <br />

</div>