@import "bootstrap";


.clear {
  clear: both;
}

.circle {
  font-family: 'metamorphousregular', serif;
  font-weight:bold;
  font-style: italic;
  position: relative;
  border-radius: 100%;
  background: #a50bd4;
  border: 1px solid black;
  width: 80px;
  height: 80px;
  margin: 10px 10px;
  text-align: center;
  color: #FFF;
  font-size: 14px;
  line-height: 16px;
  cursor: pointer;
  transform:rotate(11deg);
  -ms-transform:rotate(11deg); /* IE 9 */
  -webkit-transform:rotate(11deg); /* Opera, Chrome, and Safari */
}

.slogan {
  font-family: 'metamorphousregular', serif;
  font-style: bold;
  font-size: 25px;
  padding-top: 26px;
  text-align: center;
}

.links {
  padding-top: 26px;
  text-align: right;
  font-family: 'metamorphousregular', serif;
}

.links a {
  color: black;
  font-size: 25px;
  border-bottom: 1px solid black;
}

header {
  border-top: 9px solid black;
}

.rule {
    border: 0;
    height: 2px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), black, rgba(0, 0, 0, 0));
}

h1 {
  font-family: 'metamorphousregular', serif;
  font-weight: bold;
  font-size: 48px;
}

h2 {
  font-family: 'metamorphousregular', serif;
}

.row {
  margin-right: 0px;
  margin-left: 0px;
}

.next-quote {
  color: #a50bd4;
  font-family: 'metamorphousregular', serif;
  font-size: 20px;
}

.footer-blurb {
  font-family: 'metamorphousregular', serif;
  text-align: right;
  font-size: 10px;
}

.logo:hover {
  text-decoration: none;
}

.next-quote:hover {
  text-decoration: none;
  color: black;
}

abbr[title="required"] {
  display: none;
}

.about {
  font-family: 'metamorphousregular', serif;
}

@media (max-width: 750px) {
  .footer-blurb{
    text-align: left;
  }
}

.modal {
  font-family: 'metamorphousregular', serif;
}

h2 span {
  color: #a50bd4;
  font-family: 'metamorphousregular', serif;
}